*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(133, 131, 131);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-between;
  
}

form{
    height: auto;
    margin: auto;
    width: 100%;
    background-color: rgb(156, 140, 196);
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
  
 
}
input{
    height: 18px;
    background-color: rgb(39, 38, 32);
    color: white;
    border: none;
    display: block;
    margin: auto;
    border-radius: 7px;
    text-align: center;
}
::placeholder {
    color: rgb(186, 186, 186);
    opacity: 1; 
    text-align: center;
  }
  span{
      color: red;
  }
  footer, header{
    display: flex;
    flex-direction: column;
    background-color: rgb(138, 43, 226);
    text-align: center;
    
    color: azure;
    border-radius: 10px;
  }
  .error_class{
    height: auto;
    width: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    background-color: rgb(133, 16, 16);
    border-radius: 7px;
    color: white;

  }
  button{
    font-size: 18px;
    padding: 5px 20px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: white;
    transition: 1s;

  }
  button:hover{
      background-color: rgb(31, 31, 31);
      color: rgb(72, 174, 252);
   
 
  }

  @media (min-width: 450px){
    form{
      width: calc(100%/2);
    }
    .error_class{
      width: calc(100%/2);
    }

  }

 
  @media (min-width: 1000px){
    form{
      width: calc(100%/3);
    }
    .error_class{
      width: calc(100%/3);
    }

  }
    
 